################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs
*/obj
/DesafioSoftPlan.Test/bin/
/tools
/artifacts
CalcSoft.Api/CalcSoft.Api.csproj.user
*.zip
/temp
