################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs
*/obj
/CalcSoft.Test/bin/Debug
